# Environment variables
.env
.env.local
.env.production

# Node modules
node_modules/

# Build outputs
dist/
build/

# IDE
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Vercel
.vercel

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
ENV/
tool/AI-Basketball-Shot-Detection-Tracker/venv/
tool/AI-Basketball-Shot-Detection-Tracker/__pycache__/
tool/AI-Basketball-Shot-Detection-Tracker/uploads/
tool/AI-Basketball-Shot-Detection-Tracker/*.mov
tool/AI-Basketball-Shot-Detection-Tracker/*.mp4
tool/AI-Basketball-Shot-Detection-Tracker/*.pt
tool/AI-Basketball-Shot-Detection-Tracker/yolov8m.pt
tool/AI-Basketball-Shot-Detection-Tracker/best.pt

# Temporary files
*.log
*.tmp
brooklyn-font.zip

# Local Netlify folder
.netlify
tool/roots_use.mp4
